<doctype html5>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="static/css/layout.css" />
        <link type="text/css" rel="stylesheet" href="static/css/lib/menu/css/normalize.css" />
        <link type="text/css" rel="stylesheet" href="static/css/lib/menu/css/icons.css" />
    </head>
    <body>
        <!-- Header and Nav -->
        <div class="row">
        <div class="large-12 columns"> 
          <div class="panel">
            <h1>SkillStack</h1>
          </div>
        </div>
        </div>
        <!-- End Header and Nav -->
