<doctype html5>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="static/css/layout.css" />
        <link type="text/css" rel="stylesheet" href="static/css/lib/menu/css/normalize.css" />
        <link type="text/css" rel="stylesheet" href="static/css/lib/menu/css/icons.css" />
    </head>
    <body>
        <!-- Header and Nav -->
        <div class="row">
        <div class="large-12 columns"> 
          <div class="panel">
            <h1>SkillStack</h1>
          </div>
          <div class="responsive-nav" id="responsive-nav-scrollable" style="position: static; width: auto;">
             <div class="wrapper">
                <ul class="nav main-nav" role="navigation">
                    
                    <li class="nav-item">
                      <a href="/home?trk=nav_responsive_tab_home" class="nav-link">
                        Home
                      </a>
                    </li>
                    <li class="nav-item selected">
                        <a href="/profile/view?id=53881747&amp;trk=nav_responsive_tab_profile" class="nav-link">
                                Profile
                            </a>
                    </li>
                    <li class="nav-item">
                    <a href="/connections?type=combined&amp;trk=nav_responsive_tab_network" class="nav-link">
                        Network
                    </a>
                    </li>
                    <li class="nav-item">
                    <a href="/jobs?displayHome=&amp;trk=nav_responsive_sub_nav_jobs" class="nav-link">
                      Jobs
                    </a>
                  </li>
                </ul>
             </div>
         </div>  
    </div>
</div>
        <!-- End Header and Nav -->
