{% include 'header.html' %}
<div id="profile_header">
    <div id="sharing_container">
        <img src="static/img/pic.jpg" height="65" width="65" id="member-pic"></img>
        <div id="post-box">
            <div id="post-box-in">
                <form name="post-q-form" id="post-q-form" method="get" action="">
                    <input type="text" id="q-box" name="q-box" placeholder="Post your question here"/>
                    <input type="button" id="post" name="post" value="Post" />
                </form>
            </div>
        </div>
    </div>
</div>
<div id="skills-container">
    <div id="skills">
        <div id="hd">
            <h3> Skills </h3>
        </div> 
        <div id="skills-items">
            <div id="skills-item-view">
                <div id="profile-skills">
                    <ul class="skills-section">
                       {% for skill in skills %}
                        <li class="endorse-item">
                            <span class="skill-pill">
                                <span class="endorse-item-name">
                                    <a href="#" class="endorse-item-name-text">{{ skill.skill.name}}</a>
                                </span>
                            </span>
                        </li>
                       {% endfor %} 
                    </ul>
                </div>    
            </div>
        </div> 

</div>
{% include 'footer.html' %}
